:root {
    --Rubik: 'Rubik', sans-serif;
    --menu-grey: #4a4a4a;
    --background-blue: #3CDBC0;
    --text-white: #FFFFFF;
}

/*Starts Header*/
.header {
    background: var(--text-white);
    display: flex;
    position: sticky;
    top: 0;
    width: 100vw;
    margin-top: 10px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.header__logo {
    width: 100vw;
    margin-bottom: 10px;
    text-align: center;
}
.logo {
    width: 155px;
}
.header__nav {
    font-family: var(--Rubik);
    font-size: 16px;
    margin-bottom: 13px;
    width: 155px;
}
.header__nav__ul {
    display: flex;
    justify-content: space-around;
}
/*Ends Header*/

/*Starts Main*/

/*Ends Main*/